<section class="pagination">
  <% if (currentPage !==1 && previousPage !==1) {%>
    <a href="?page=1">First(1)</a>
    <% } %>

      <% if(hasPrevPage){ %>
        <a href="?page=<%=previousPage%>">Prev(<%= previousPage%>)</a>
        <% }%>

          <a href="?page=<%=currentPage%>" class="active">
            <%= currentPage%>
          </a>

          <% if (hasNextPage) {%>
            <a href="?page=<%=nextPage%>">Next(<%= nextPage%>)</a>
            <% }%>
            
              <% if (lastPage !==currentPage && nextPage !==lastPage) {%>
                <a href="?page=<%=lastPage%>">Last(<%= lastPage%>)</a>
                <% }%>
</section>